In [4]:
import pandas as pd

FILE = '../dataFiles/남북한발전전력량.xlsx'
ns = pd.read_excel(FILE)

ns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

In [3]:
# !pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [52]:
ns.iloc[1:5,0] = '남한'

ns.iloc[6:,0] = '북한'

ns

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,남한,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,남한,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,남한,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,남한,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,북한,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,북한,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,북한,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [53]:
ns.loc[9] = ['북한','신재생',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

In [54]:
ns.set_index(['전력량 (억㎾h)', '발전 전력별'],inplace=True)

In [55]:
ns

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     -     -     -     -     -    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -
          신재생     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        -
          신재생        0

[10 rows x 27 columns]

In [65]:
ns.replace('-',0, inplace=True)
ns

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     0     0     0     0    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                        평균
전력량 (억㎾h) 발전 전력별
남한        합계      3280.025
          수력        59.146
          화력      2043.427
          원자력     1150.710
          신재생       26.815
북한        합계       218.596
          수력       125.975
          화력        92.621
          원자력        0.000
          신재생        0.000

[10 rows x 28 columns]

In [63]:
ns['평균'] = round(ns.mean(axis=1),3)

ns

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     0     0     0     0    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                        평균
전력량 (억㎾h) 발전 전력별
남한        합계      3280.025
          수력        59.146
          화력      2043.427
          원자력     1150.710
          신재생       26.815
북한        합계       218.596
          수력       125.975
          화력        92.621
          원자력        0.000
          신재생        0.000

[10 rows x 28 columns]